################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/2019-04-26 WebSocket+Three.js/SignalRDemo/.vs/SignalRDemo
.vs/
obj/
bin/
*.user
